*{
          text-align: center;
}

.inbuild-element-group{
          display: flex;
          gap:1rem;
          justify-content: center;
          flex-wrap: wrap;
}
.btn{
          padding: 10px;
          border-radius: 5px;
          width:100px;
          font-size: 12px;
          font-weight: bold;
          font-family: sans-serif;
          background-color: darkslateblue;
          border: none;
          color: whitesmoke;
}
.btn:hover{
          cursor: pointer;
          background-color: black;
}
.res-sec{
          width: 500px;
          margin: 0 auto;
          padding: 12px;
          border : dotted;
          margin-top : 15px;
          margin-bottom: 15px;
}