.card{
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding : 12px;
          max-width: 15rem;
          border-radius: 0.5rem;
          overflow: hidden;
          box-shadow: 3px 3px 10px 0px rgb(22, 11, 11);
}
#student-list{

          justify-content: center;
          gap: 1rem;
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
}
.span-h{
          font-weight :bold;
          font-size: large;
          
}

#del-btn{
          background-color: crimson;
}
#edit-btn, #update-btn{
      background-color: dodgerblue;
}
.btn:hover{
      color:black
}
#add-btn:hover{
      color:black
}

.input-text{
      border-radius: 5px;
      width: 50%;
      font-size :18px;
      padding : 12px; 
      border : none;
      background-color: rgb(243, 239, 239);
      color: black
}
.form-data{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap : 1rem;
      margin : 17px;
      border : 1px solid black;
      padding : 15px; 
}
.btn{
      border: none;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      color: whitesmoke

}
#add-btn{
     background-color: darkorchid; 
}