.card{
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding : 12px;
          max-width: 15rem;
          border-radius: 0.5rem;
          overflow: hidden;
          box-shadow: 3px 3px 10px 0px rgb(22, 11, 11);
}
#student-list{

          justify-content: center;
          gap: 1rem;
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
}
span{
          font-weight :bold;
          font-size: large;
          
}

.del-btn{
          background-color: crimson;
          border: none;
          padding: 7px;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          color: whitesmoke;
}

.del-btn:hover{
      color:black
}